BODY { position: relative; }

.FormAction { padding-top: 5px; }
.Small { font-size: .75em; }
.ClearFix { clear: both; height: 0; font-size: 0; }
.Invisible { display: none; }
.Placeholder { padding: 1em; font-style: italic; text-align: center; font-weight: normal; }
.Block { display: block; clear: both; }

.pagination { text-align: right; clear: both; font-size: 86%; }
.pagination A,
.pagination SPAN { padding: 2px 4px 2px 4px; margin: 2px 1px; color: black; }
.pagination A { border: 1px solid #CCC; text-decoration: none; }
.pagination A:hover,
.pagination A:active { border-color: #000; color: #000; }
.pagination SPAN.current { border: 1px solid #000; font-weight: bold; cursor: default; }
.pagination SPAN.disabled { border: 1px solid #EFEDED; color: #DDD; cursor: default; }

.pagination { margin-top: .75em; }
.Bottom .pagination { margin-top: 0; }

H2#current-date { margin-bottom: 0; }

#tabs-wrapper { border-bottom: 1px solid #CCC; }

#date_filter_form FIELDSET,
#audit_filter_form FIELDSET { border: 0; }

#audit_filter_form { margin-top: 1em; display: block; }

FORM#date_filter_form { position: absolute; top: 5px; right: 0; }
#date-filter { font-size: .85em; }
#date-filter IMG { vertical-align: top; }
#date-filter #date { vertical-align: top; margin: -3px 0 0 5px; text-align: center; font-weight: bold; width: 8em; cursor: pointer !important; }
#date-filter SPAN,
#date-filter A { text-decoration: none; vertical-align: top; border: 1px solid #CCC; padding: 2px 3px 2px 4px; }
#date-filter SPAN { border: 1px solid #CCC; cursor: default; }
#date-filter A:hover { border-color: #000; }

#quick-filter { clear: both; border: 1px solid #CCC; padding: .5em .5em .75em; }
#quick-filter .Field { margin-right: 8px; }
#message-text-field { margin-left: 20px;}
#message-text-field LABEL { font-size: .8em; }

#audit-results { margin: 1em 0 !important; }

#custom-report-fieldset { border: 1px solid #CCC !important; margin-bottom: .5em; padding: 5px 10px; }
#custom-report-fieldset LEGEND { font-weight: bold; color: #000; }
#custom-report-fieldset TABLE { margin-top: 0; }
#custom-report-fieldset TABLE TD INPUT { width: 90%; }
#custom-report-fieldset TABLE TD LABEL { font-size: 80%; }
#custom-report-fieldset .FormAction { margin: .5em 0 0 10%; }

#total-audit-display { margin: 0; padding-top: .6em; float: left; }
#top-report-pagination { float: right; }

* HTML .AdminTabSet UL.AdminTabNav { padding-top: 1px; }
* HTML #tabs-wrapper { zoom: 1; }
* HTML H2#current-date { padding-top: .5em; }
* HTML #quick-filter { padding-top: 1em; padding-bottom: 0; }
* HTML #quick-filter FIELDSET,
* HTML #quick-filter .FormAction,
* HTML #date-filter { padding-top: 0; }
* HTML #date-filter A { zoom: 1; margin-top: 1px; }
* HTML #date-filter #date { margin-top: 0; }
* HTML #top-report-pagination { padding-bottom: 3px; }

*:first-child+HTML #tabs-wrapper { zoom: 1; }
*:first-child+HTML H2#current-date { padding-top: .5em; }
*:first-child+HTML #quick-filter { padding-bottom: .5em; }
*:first-child+HTML #date-filter { padding-top: 0; }
*:first-child+HTML #date-filter A { zoom: 1; margin-top: 1px; }
*:first-child+HTML #date-filter #date { margin-top: 0; }
*:first-child+HTML #top-report-pagination { padding-bottom: 3px; }

@media print {
	#header,
	#tabs-wrapper,
	#audit_filter_form,
	#date_filter_form,
	#top-report-pagination,
	#total-audit-display,
	.Bottom,
	.hidden { display: none; }
	h1, h2 { font-size: 1.25em; margin: 0 0 .5em; }
	h1, h2, table { font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif; }
	table { width: 100%; font-size: 12px; border-collapse: collapse; }
	a { text-decoration: none; color: #000; font-weight: bold; }
	thead { display: table-header-group; }
	th a { display: block; width: 200px; }
	th, td { vertical-align: top; text-align: left; padding: 3px 4px 3px 0; border-bottom: 1px solid #EAEAEA; }
	* HTML table { width: 640px; }
}