body.reversed { background: #fff; }
.reversed #main { background: #fff; }
.reversed .outset { color: #000;  }

#actions { height: 46px; }

.FormAction { padding-top: 5px; }
.Small { font-size: .75em; }
.ClearFix { clear: both; height: 0; font-size: 0; }
.Invisible { display: none; }
.Placeholder { padding: 1em; font-style: italic; text-align: center; font-weight: normal; }
.Block { display: block; clear: both; }

.pagination { text-align: right; clear: both; font-size: 86%; }
.pagination A,
.pagination SPAN { padding: 2px 4px 2px 4px; margin: 2px 1px; color: black; }
.pagination A { border: 1px solid #CCC; text-decoration: none; }
.pagination A:hover,
.pagination A:active { border-color: #000; color: #000; }
.pagination SPAN.current { border: 1px solid #000; font-weight: bold; cursor: default; }
.pagination SPAN.disabled { border: 1px solid #EFEDED; color: #DDD; cursor: default; }
.pagination { margin-top: .75em; }
.Bottom .pagination { margin-top: 0; }

.AdminTabSet .TabHeader { position: absolute; top: -9999px; left: -9999px; }
.AdminTabSet .AdminTabNav { margin: 0; padding: 0; }
.AdminTabSet .AdminTabNav LI { float: left; list-style-type: none; padding: 0 1px; margin: -1px 5px; font-weight: bold; border: 1px solid #CCC; background: #EEE; }
.AdminTabSet .AdminTabNav LI SPAN,
.AdminTabSet .AdminTabNav LI A { display: block; padding: 3px 8px 2px 8px; text-decoration: none !important; }
.AdminTabSet .AdminTabNav LI SPAN SMALL,
.AdminTabSet .AdminTabNav LI A SMALL { font-weight: normal; }
.AdminTabSet .AdminTabNav LI.Selected,
.AdminTabSet .AdminTabNav LI.Active { border: 1px solid #CCC !important; border-bottom: 1px solid #FFF !important; padding: 0; }
.AdminTabSet .AdminTabNav LI.Selected A,
.AdminTabSet .AdminTabNav LI.Selected SPAN,
.AdminTabSet .AdminTabNav LI.Active SPAN,
.AdminTabSet .AdminTabNav LI.Active A { color: #333; background: #FFF; }
.AdminTabSet .TabBorder { border-top: 1px solid #CCC; margin-bottom: 8px; }

.InlineForm FIELDSET { border: 0; padding: 0; margin: 0; display: inline; }
.InlineForm FIELDSET LEGEND { position: absolute; top: -9999em; left: -9999em; display: none; }
.InlineForm INPUT,
.InlineForm SELECT { vertical-align: middle; margin: 0; }
.InlineForm DIV.Field,
.InlineForm DIV.FormAction { display: inline; margin: 0; }

.LayoutTable { width: 100%; }

.FormTable { width: 100%; border: none; border-collapse: collapse; border-spacing: 0; clear: both; }
.FormTable TD,
.FormTable TH { padding: 4px 0 !important; line-height: normal; }
.FormTable TH { font-weight: normal; text-align: right !important; padding: 8px .5em 3px 0 !important; vertical-align: top; }
.FormTable THEAD TH { text-align: left; border-bottom: 1px solid #081E3F; }
.FormTable TD .Inputs { margin-bottom: 0; }
.FormTable TD .Inputs,
.FormTable TD .FieldValue { min-height: 14px; padding-top: 4px; }
.FormTable TD .FieldValue { font-weight: bold; }

#current-date,
#custom-report { margin: 1em 0 0; font-size: 125%; }

#tabs-wrapper { border-bottom: 1px solid #CCC; }

#date_filter_form FIELDSET,
#audit_filter_form FIELDSET { border: 0; }

#audit_filter_form { background: #7E7E7E; }

#date_filter_form UL { padding-bottom: 8px; }
#date-filter { font-size: .85em; }
#date-filter IMG { vertical-align: top; }
#date-filter #date { vertical-align: top; margin: -2px 4px 0; text-align: center; font-weight: bold; width: 8em; cursor: pointer !important; }
#date-filter A { font-size: 100%; }
#date-filter A:hover { border-color: #000; }

#quick-filter { clear: both; padding: .5em .5em .75em; }
#quick-filter .Field { margin-right: 8px; }
#message-text-field { margin-left: 20px;}
#message-text-field LABEL { font-size: .8em; }

#audit-results { margin: 0 0 1em !important; }
#audit-results TH A { color: #fff; }

#custom-report-fieldset { border: 1px solid #CCC !important; margin-bottom: .5em; padding: 5px 10px; }
#custom-report-fieldset LEGEND { font-weight: bold; color: #000; }
#custom-report-fieldset TABLE { margin-top: 0; }
#custom-report-fieldset TABLE TD INPUT { width: 90%; }
#custom-report-fieldset TABLE TD LABEL { font-size: 80%; }
#custom-report-fieldset .FormAction { margin: .5em 0 0 10%; }

#total-audit-display { margin: 0; padding-top: .6em; float: left; }
#top-report-pagination { float: right; }

#filtering-options { position: absolute; bottom: 0; right: 6px; margin-bottom: 51px; }
#filtering-options.Active { margin-bottom: 46px; }
#more-or-less-metadata {
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
background: #7E7E7E url(/images/admin/metadata_toggle.png) 96% -19px no-repeat;
padding: 4px 21px 5px 10px;
text-shadow: #666 1px 1px 0;
cursor: pointer;
}
.Active #more-or-less-metadata { background-position: 96% 9px; }

#actions #remove-filters { background: none; color: #FFF; text-decoration: underline; padding: 0px; text-shadow: none; }

* HTML .AdminTabSet UL.AdminTabNav { padding-top: 1px; }
* HTML #tabs-wrapper { zoom: 1; }
* HTML H2#current-date { padding-top: .5em; }
* HTML #quick-filter { padding-top: 1em; padding-bottom: 0; }
* HTML #quick-filter FIELDSET,
* HTML #quick-filter .FormAction,
* HTML #date-filter { padding-top: 0; }
* HTML #date-filter A { zoom: 1; margin-top: 1px; }
* HTML #date-filter #date { margin-top: 0; }
* HTML #top-report-pagination { padding-bottom: 3px; }
* HTML .AdminTabSet UL.AdminTabNav LI.Selected,
* HTML .AdminTabSet UL.AdminTabNav LI.Active { position: relative; border-bottom: 1px solid #FFF !important; }
* HTML .AdminTabSet UL.AdminTabNav { zoom: 1; }

*:first-child+HTML #tabs-wrapper { zoom: 1; }
*:first-child+HTML H2#current-date { padding-top: .5em; }
*:first-child+HTML #quick-filter { padding-bottom: .5em; }
*:first-child+HTML #date-filter { padding-top: 0; }
*:first-child+HTML #date-filter A { zoom: 1; margin-top: 1px; }
*:first-child+HTML #date-filter #date { margin-top: 0; }
*:first-child+HTML #top-report-pagination { padding-bottom: 3px; }
*:first-child+HTML .AdminTabSet UL.AdminTabNav { zoom: 1; }
*:first-child+HTML .AdminTabSet UL.AdminTabNav LI.Selected,
*:first-child+HTML .AdminTabSet UL.AdminTabNav LI.Active { position: relative; border-bottom: 1px solid #FFF !important; }