%fieldset#custom-report-fieldset
  
  %legend Report Query
  
  %table
    %col{ :width => "50%" }
    %col{ :width => "25%" }
    %col{ :width => "25%" }
    %tbody
      %tr
        %td
          %label{:for => 'startdate'} Date Range
          =text_field_tag :startdate, params[:startdate]
          %label.Smaller{:for => 'enddate'} to
          =text_field_tag :enddate, params[:enddate]
        %td
          %label{:for => 'filter[ip_address]'} IP Address
          =text_field_tag 'filter[ip_address]', params[:filter][:ip_address]
        %td
          %label{:for => 'filter[user_id]'} User ID
          =text_field_tag 'filter[user_id]', params[:filter][:user_id]
      %tr
        %td
          %label{:for => 'filter[auditable_type]'} Object Kind
          =text_field_tag 'filter[auditable_type]', params[:filter][:auditable_type]
          %label.Smaller{:for => 'filter[auditable_id]'} Object ID
          =text_field_tag 'filter[auditable_id]', params[:filter][:auditable_id]
        
        %td
          %label{:for => 'audit_type_name'} Event Type
          =text_field_tag :audit_type_name, params[:audit_type_name]
        %td
          %label{:for => 'query'}="Message"
          =text_field_tag :query, params[:query]

.ClearFix <!-- do not remove -->

.FormAction
  =submit_tag "Apply Filter"
  =link_to "Remove Filter", admin_audits_report_path, :class => "Small" if custom_report_filters_set?

%p
  Showing
  %strong=@audits.total_entries
  = "of #{AuditEvent.count} total events"