%label{:for => 'startdate'} Date Range
=text_field_tag :startdate, params[:startdate]
%label{:for => 'enddate'} to
=text_field_tag :enddate, params[:enddate]

%label{:for => 'filter[ip_address]'} IP Address
=text_field_tag 'filter[ip_address]', params[:filter][:ip_address]

%label{:for => 'filter[user_id]'} User ID
=text_field_tag 'filter[user_id]', params[:filter][:user_id]

%div.clear

%label{:for => 'filter[auditable_type]'} Object Kind
=text_field_tag 'filter[auditable_type]', params[:filter][:auditable_type]

%label{:for => 'filter[auditable_id]'} Object ID
=text_field_tag 'filter[auditable_id]', params[:filter][:auditable_id]
  
%label{:for => 'audit_type_name'} Event Type
=text_field_tag :audit_type_name, params[:audit_type_name]

%label{:for => 'query'}="Message"
=text_field_tag :query, params[:query]

%div.clear

=hidden_field_tag :report, "custom"
=submit_tag "Apply Filter"
=link_to "Remove Filter", admin_audits_path + "?report=custom"

Showing
%strong=@audits.total_entries
= "of #{AuditEvent.count} total events"

=will_paginate @audits