%h2 Custom Report

-form_tag admin_audits_path, :method => 'get', :id => 'quick_filter_form', :class => 'InlineForm' do
  -params[:filter] ||= {} # in case no filter params are sent, don't choke on the params[:filter][:foo] below

  %label{:for => 'startdate'} Date Range
  =text_field_tag :startdate, params[:startdate]
  %label{:for => 'enddate'} to
  =text_field_tag :enddate, params[:enddate]

  %label{:for => 'ip_address'} IP Address
  =text_field_tag :ip_address, params[:filter][:ip_address]

  %label{:for => 'user'} User login
  =text_field_tag :user, params[:user]
  
  
  %div.clear
  
  %label{:for => 'object_kind'} Object Kind
  =text_field_tag :object_kind, params[:object_kind]
  
  %label{:for => 'object_id'} Object ID
  =text_field_tag :object_id, params[:object_id]
    
  %label{:for => 'event_type'} Event Type
  =text_field_tag :event_type, params[:event_type]

  %label{:for => 'query'}="Message"
  =text_field_tag :query, params[:query]

  %div.clear

  =hidden_field_tag :report, "custom"
  =submit_tag "Apply Filter"
  =link_to "Remove Filter", admin_audits_path