#datefilter{:style => "float:right;"}
  =link_to "#{@previous_date.strftime('%b %d, %Y')}", admin_audits_path + "?startdate=#{@previous_date.strftime('%Y-%m-%d')}" unless @previous_date.nil?
  
  -form_tag admin_audits_path, :method => 'get', :id => 'quick_filter_form', :class => 'InlineForm' do
    =hidden_field_tag :filter, params[:filter]
    =text_field_tag :range, @startdate.strftime('%b %d %Y')
  =link_to "#{@next_date.strftime('%b %d, %Y')}", admin_audits_path + "?startdate=#{@next_date.strftime('%Y-%m-%d')}" unless @next_date.nil?
