#datefilter{:style => "float:right;"}
  -params[:filter] ||= {} # in case no filter params are sent, don't choke on the params[:filter][:foo] below

  -paramslink = {}
  -paramslink[:filter] = {}
  -paramslink[:filter][:ip_address] = params[:filter][:ip_address]
  -paramslink[:filter][:user_id] = params[:filter][:user_id]
  -paramslink[:event_type] = params[:event_type]
  -paramslink[:query] = params[:query]
  
  -unless @previous_date.nil?
    -paramslink[:startdate] = @previous_date.strftime('%b %d, %Y')
    =link_to "#{@previous_date.strftime('%b %d, %Y')}", admin_audits_path + "?#{paramslink.to_param}"
  
  -form_tag admin_audits_path, :method => 'get', :id => 'date_filter_form', :class => 'InlineForm' do
    =hidden_field_tag 'filter[ip_address]', params[:filter][:ip_address] unless params[:filter][:ip_address].blank?
    =hidden_field_tag 'filter[user_id]', params[:filter][:user_id] unless params[:filter][:user_id].blank?
    =hidden_field_tag 'event_type', params[:event_type] unless params[:event_type].blank?
    =hidden_field_tag 'query', params[:query] unless params[:query].blank?
    
    =text_field_tag :startdate, @startdate.strftime('%b %d %Y')
    
  -unless @next_date.nil?
    -paramslink[:startdate] = @next_date.strftime('%b %d, %Y')
    =link_to "#{@next_date.strftime('%b %d, %Y')}", admin_audits_path + "?#{paramslink.to_param}"
