-form_tag admin_audits_path, :method => 'get', :id => 'quick_filter_form', :class => 'InlineForm' do
  Quick Filter
  %label{:for => 'ip_address'}
  %select{:name => 'filter[ip_address]'}
    %option{:value => ""} IP Address
    %option{ :value => "" } &nbsp;
    =options_for_select(@ip_addresses)
  %label{:for => 'user_id'}
  %select{:name => 'filter[user_id]'}
    %option{:value => ""} User
    %option{ :value => "" } &nbsp;
    =options_from_collection_for_select(@users, 'id', 'name')
  %label{:for => 'event_type'}
  %select{:name => 'event_type'}
    %option{:value => ""} Event Type
    %option{ :value => "" } &nbsp;
    =options_for_select(@event_types, (params[:event_type]))
  %label{:for => 'query'}="Message Text"
  =text_field_tag :query, params[:query]

  =hidden_field_tag :startdate, params[:startdate] unless params[:startdate].blank?
  =hidden_field_tag :enddate, params[:enddate] unless params[:enddate].blank?

  =submit_tag("Apply Filter")
  =link_to "Remove Filter", admin_audits_path